@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }


    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.placing{
  width: 70vw;
}

.btn-login-container{
  background-color: #0D569B;
  border-radius: 8px;
  font-size: 12px;
}

.material-symbols-outlined {
  color:#828282;
}
.container-search{
  width: 80vw;
}

.footer-box{
  box-shadow: 0 -5px 5px -5px rgb(181, 181, 181);  
}
.footer-wrapper{
  width: 100%;
}

.footer-left{
  display: flex;
  flex-direction: column;
  grid-row-gap: 1.5vh;
}


.footer-right{
  display: flex;
  flex-direction: column;
  grid-row-gap: 3vh;
}

.home-content-wrapper{
  margin-top: 33px;
  margin-left: 165px;
  margin-right: 165px;
  margin-bottom: 33px;
}

.content-detail-wrapper{
  margin-top: 33px;
  margin-left: 165px;
  margin-right: 165px;
  margin-bottom: 33px;
}

.swal2-title {
  font-size: large;
  margin-top: 20px;
}

.slider{
  /* background-color: brown; */
  width: 100%; 
  height: 40vh;
}

.c-item{
  height: 480px;
}

.c-img{
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

/* .pasar-terdekat-data,.produk-data{
  background-color: brown;
  width: 100%; 
  height: 12vh;
} */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' -25,
  'opsz' 24
}

.material-symbols-outlined-visibility {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.no-spinners {
  -moz-appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
 }
 
 .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
 }

input[type="text"]:disabled {
  /* Add your styles here */
  background-color: white; /* Change the background color */
 /* Change the text color */
}

.loadingContainer {
  background-color: #ffffff;
  border: 1px solid white; 
  padding: 20px; 
  text-align: center; 
  border-radius: 8px;
  width: 220px;
  height: 200px;
}

.loadingAnimation {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pin-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pin-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 5px;
  margin-left: 10px;
}

.pin-circle.filled {
  background-color: #000;
}

.pin-field {
  opacity: 0;
  position: absolute;
}

.lunas {
  background-image: url("../public/LUNAS.svg");
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: 350px; */
}
.breaking-border-top {
  border-top: 2px;
  border-style: dashed; /* You can also use dotted, double, etc. */
  border-color: gray; /* Set your desired border color */
  padding: 8px; /* Add padding to the element to prevent content from touching the border */
}
.breaking-border-bottom {
  border-bottom: 2px;
  border-style: dashed; /* You can also use dotted, double, etc. */
  border-color: gray; /* Set your desired border color */
  padding: 8px; /* Add padding to the element to prevent content from touching the border */
}